<!doctype html>
<html lang="en" ng-app="hngfbcApp">
    <head>
        <title>Heroes &amp; Generals Fun Battle Calculator</title>
        <meta name="author" content="psam" />
        <meta name="copyright" content="© 2019" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
        <script src="hngfpcApp.js"></script>
    </head>

    <body ng-controller="FbcController">

        <h1>
            <img class="logo"
                src="images/hnglogo-inline.svg"
                alt="Heroes &amp; Generals WWII" />
            Fun Battle Calculator</h1>

        <fieldset class="inputs" ng-cloak>

            <div>
                <label>
                    <span class="label">Battle Type</span>
                    <select ng-model="inputs.battleType">
                        <option value="0">Assault / Skirmish</option>
                        <option value="1">Encounter</option>
                        <option value="2">3-Way Assault</option>
                    </select>
                </label>
            </div>

            <hr />

            <div>
                <label>
                    <span class="label">Infantry</span>
                    <input type="number" ng-model="inputs.infantry" min="0" />
                    <img class="icon" src="images/icons/Infantry.png" />
                </label>
            </div>

            <hr />

            <div>
                <label>
                    <span class="label">Recons</span>
                    <input type="number" ng-model="inputs.recons" min="0" />
                    <img class="icon" src="images/icons/Recon.png" />
                </label>
            </div>

            <hr />

            <div>
                <label>
                    <span class="label">Paratroopers Grounded</span>
                    <input type="number" ng-model="inputs.paratroopers" min="0" />
                    <img class="icon" src="images/icons/Paratroopers.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Paratroopers Airborne</span>
                    <input type="number" ng-model="inputs.paratroopersAirborne" min="0" />
                    <img class="icon" src="images/icons/Paratroopers.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Transport Planes</span>
                    <input type="number" ng-model="inputs.transportPlanes" min="0" />
                    <img class="icon" src="images/icons/TransportPlanes.png" />
                </label>
            </div>

        </fieldset>

        <fieldset class="inputs" ng-cloak>

            <div>
                <label>
                    <span class="label">Tank Crewmen</span>
                    <input type="number" ng-model="inputs.tankCrewmen" min="0" />
                    <img class="icon" src="images/icons/TankCrew.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Light Tanks</span>
                    <input type="number" ng-model="inputs.tanksLight" min="0" />
                    <img class="icon" src="images/icons/TankLight.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Medium Tanks</span>
                    <input type="number" ng-model="inputs.tanksMedium" min="0" />
                    <img class="icon" src="images/icons/TankMedium.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Tank Destroyers</span>
                    <input id="input10" type="number" ng-model="inputs.tanksTD" min="0" />
                    <img class="icon" src="images/icons/TankTD.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Heavy Tanks</span>
                    <input id="input11" type="number" ng-model="inputs.tanksHeavy" min="0" />
                    <img class="icon" src="images/icons/TankHeavy.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Heavy Tank Destroyers</span>
                    <input id="input12" type="number" ng-model="inputs.tanksHTD" min="0" />
                    <img class="icon" src="images/icons/TankHeavyTD.png" />
                </label>
            </div>

            <hr />

            <div>
                <label>
                    <span class="label">Pilots</span>
                    <input id="input13" type="number" ng-model="inputs.pilots" min="0" />
                    <img class="icon" src="images/icons/Pilots.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Recon Planes</span>
                    <input id="input14" type="number" ng-model="inputs.planesLight" min="0" />
                    <img class="icon" src="images/icons/PlanesLight.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Medium Fighters</span>
                    <input id="input15" type="number" ng-model="inputs.planesMedium" min="0" />
                    <img class="icon" src="images/icons/PlanesMedium.png" />
                </label>
            </div>

            <div>
                <label>
                    <span class="label">Heavy Fighters</span>
                    <input id="input16" type="number" ng-model="inputs.planesHeavy" min="0" />
                    <img class="icon" src="images/icons/PlanesHeavy.png" />
                </label>
            </div>

        </fieldset>

        <fieldset class="results" ng-cloak>

            <div>
                <span class="label">Player Tickets</span>
                <span class="result" ng-class="results.enoughTickets ? 'yes': 'no'">
                    {{results.playerTicketsTotal}} / {{results.playerTicketsRequired}}</span>
            </div>

            <div>
                <span class="label">Sufficient Infantry/Paratroopers</span>
                <span class="result" ng-class="results.enoughInfPara ? 'yes': 'no'">
                    {{ results.enoughInfPara ? 'yes': 'no' }}</span>
            </div>

            <div>
                <span class="label">Sufficient Transport Planes</span>
                <span class="result" ng-class="results.enoughTransPlanes ? 'yes': 'no'">
                    {{ results.enoughTransPlanes ? 'yes': 'no' }}</span>
            </div>

            <div>
                <span class="label">Fun Battle</span>
                <span class="result" ng-class="results.isFunBattle ? 'yes': 'no'">
                    {{ results.isFunBattle ? 'yes': 'no' }}</span>
            </div>

            <hr />

            <div class="actions">
                <button ng-click="clear()">Clear</button>
            </div>
        </fieldset>

    </body>
</html>